@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    background-color: #F1B2FF;
    font-family: 'Raleway', sans-serif;
}
 
}
h1{
    text-align: left;
    font-style: italic;
}

p {
    font-size: 20px;
    text-align: 9px;
    padding-top: 10px;
}
mark {
    background-color: #D061E8;
}

strong {
    color: #D461E8;
   
}

    
.container {
    background-color: white;
    width: 80%;
    margin-top: 30px;
  
}

#dados {
    color: #D461E8
}

#formacao {
    color: #D461E8;
    margin-top: 30px;

}

#exp {
    color: #D461E8;
    margin-top: 30px;
}

#logo {
    height: 270px;
    margin-top: 20px;
}